.editableSpan{
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 350px;
    height: 85px;
    border: none;
    background-color: #838583;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-bottom: 3px solid green;
}